<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.lucdotdev.hover_ussd">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <receiver
            android:name=".HoverUssdSmsReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.lucdotdev.hover_ussd.CONFIRMED_TRANSACTION"/>
            </intent-filter>
        </receiver>
         </application>
</manifest>
